
div.calculator
{
    display: inline-block;
}

h1
{
    text-align: center;
}

h1 input
{
    font-size: 18pt;
    text-align: center;
}

.obs_template
{
    display: none;
}

.error
{
    background-color: yellow;
}

.printonly
{
    display: none;
}

td, th, input
{
    text-align: right;
}

td.buttons
{
    text-align: left;
}


.coord
{
   width: 5em;
}

.dcoord
{
   width: 3em;
}

table 
{
    border-collapse: collapse;
}

table tr#misclose
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.spacer
{
    height: 5px;
}
