Source: linz-webapp-geodetic-calculators
Section: science
Priority: optional
Maintainer: Chris Crook <ccrook@linz.govt.nz>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: linz-webapp-geodetic-calculators
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Install the LINZ geodetic calculator web applications
 Installs the LINZ traverse-calculator, project-correction, and nzmapconv web application. 
