
div.calculator
{
    display: inline-block;
}

h1, div.title
{
    text-align: center;
}

div.title, input.title
{
    font-size: 18pt;
    text-align: center;
}

div.vspacer
{
    padding-top: 10pt;
}

.obs_template
{
    display: none;
}

.error
{
    background-color: yellow;
}

.distance.links:not(.error)
{
    background-color: cyan;
}

.printonly
{
    display: none;
}

.coord, .bowditch, .distance, .bearing
{
    white-space: nowrap;
}

td, th, input
{
    text-align: right;
}

td.buttons, table.list td
{
    text-align: left;
}

td.buttons
{
    white-space: nowrap;
}

table.list td
{
    padding-left: 2em;
}


.coord
{
   width: 5em;
}

.dcoord
{
   width: 3em;
}

table 
{
    border-collapse: collapse;
}

table tr#misclose
{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.spacer
{
    height: 5px;
}

div#help
{
    background-color: #EEE;
    padding: 15px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-size: 14px;
    
}

div.title
{
    width: 100%;
}

input.closehelp
{
    float: right;
}

